---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Work from "./work.astro";
import About from "../layouts/home/About.astro";
import Contact from "../layouts/home/Contact.astro";

// Styles
import "../styles/global.css";
---

<BaseLayout>
  <main class="min-h-screen bg-white">
    <!-- Hero Section -->
    <Hero />
    <!-- Work Section -->
    <Work />
    <!-- About Section -->
    <About />
    <!-- Contact Section -->
    <Contact />
  </main>
</BaseLayout>
