---
export const prerender = false;

import { getCollection } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro";
import Section from "../Section.astro";

const projects = await getCollection("projectsCollection");
const featuredProjects = projects.filter((project) => project.data.featured);
---

<Section title="Selected Work" id="selectedwork">
  {
    featuredProjects.map((project) => {
      return <ProjectCard project={project.data} />;
    })
  }
</Section>
