---
import slot from "astro:components";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shreenidhi Bharadwaj - SRE/Fullstack Developer</title>
  </head>
  <body>
    <slot />
  </body>
</html>
