---
const { title, gray = true, ...rest } = Astro.props;
---

<section class:list={[{ "bg-gray-50": gray }, "py-20"]} {...rest}>
  <div class="max-w-4xl mx-auto px-6">
    <h3 class="text-3xl font-light text-gray-900 mb-16">{title}</h3>
    <div class="grid gap-16">
      <slot />
    </div>
  </div>
</section>
